<!DOCTYPE html>
<html th:replace="~{base :: base(~{::title}, ~{:: #conteudo})}" lang="pt-br">
<head>
    <title>Início</title>
</head>
<body>

<div class="container" id="conteudo">
    <div class="card">
        <div class="card-body">
            <div th:each="cliente : ${lista}">
                <h1 class="title">Nome: <a th:href="@{'/cliente/' + ${cliente.id}}">
                    <span th:text="${cliente.nome}"></span>
                </a></h1>
                <h2 class="title">CPF:
                    <span th:text="${cliente.cpf}"></span>
                </h2>
                <h2 class="title">Email:
                    <span th:text="${cliente.email}"></span>
                </h2>
                <h2 class="title">Endereço:
                    <span th:text="${cliente.endereco}"></span>
                </h2>
                <br>
            </div>
            <a th:href="@{'/cliente/novo'}" class="btn btn-primary mt-2" type="button">Novo cliente</a>
        </div>
    </div>
</div>

</body>
</html>