<!DOCTYPE html>
<html th:replace="~{base :: base(~{::title}, ~{:: #conteudo})}" lang="pt-br">
<head>

    <title>Cliente</title>
</head>
<body>

    <div class="container" id="conteudo">
        <div class="card">
            <div class="card-body">
                <div th:each="cliente : ${lista}">
                    <h1 th:text="${cliente.nome}">Nome</h1>
                    <h2 th:text="${cliente.cpf}">CPF</h2>
                    <h2 th:text="${cliente.email}">Email</h2>
                    <h2 th:text="${cliente.endereco}">Endereco</h2>
                </div>
            </div>
        </div>
    </div>


</body>
</html>