<!DOCTYPE html>
<html th:replace="~{base :: base(~{::title}, ~{:: #conteudo})}" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo Cliente</title>
</head>
<body>
<div id="conteudo" class="container">
    <form th:object="${dto}" method="post" th:action="@{'/cliente/salvar/' + *{id}}">
        <div class="card mt-3">
            <div class="card-body">
                <div class="form-group">
                    <label>ID: </label>
                    <input disabled th:value="${id}" class="form-control" type="text"/>
                </div>

                <div class="form-group">
                    <label for="nome">Nome: </label>
                    <input th:field="*{nome}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="Nome"/>
                    <span class="small">Insira o nome do cliente.</span>
                    <div th:errors="*{nome}" class="alert alert-danger"></div>
                </div>

                <div class="form-group">
                    <label for="cpf">CPF: </label>
                    <input th:field="*{cpf}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="CPF"/>
                    <span class="small">Insira o CPF do cliente.</span>
                    <div th:errors="*{cpf}" class="alert alert-danger"></div>
                </div>

                <div class="form-group">
                    <label for="email">Email: </label>
                    <input th:field="*{email}" th:errorclass="is-invalid" class="form-control" type="email" placeholder="Email"/>
                    <span class="small">Insira o email do cliente.</span>
                    <div th:errors="*{email}" class="alert alert-danger"></div>
                </div>

                <div class="form-group">
                    <label for="endereco">Endereço: </label>
                    <input th:field="*{endereco}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="Endereço"/>
                    <span class="small">Insira o endereço do cliente.</span>
                    <div th:errors="*{endereco}" class="alert alert-danger"></div>
                </div>

                <button class="btn btn-primary mt-2" type="submit">Salvar</button>
                <a th:href="@{'/cliente' + *{id}}" class="btn btn-warning mt-2" type="button">Cancelar</a>
                <a th:href="@{'/cliente/delete/' + *{id}}" class="btn btn-danger mt-2" type="button">Deletar</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>>